# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/" # Location of package manifests
    target-branch: "Development"
    schedule:
      interval: "weekly"
    ignore:
    - dependency-name: org.apache.maven:*
    groups:
      java-deps:
        patterns:
          - "*"
        exclude-patterns:
          - "org.apache.maven.plugins:*"
      mvn-deps:
        patterns:
          - "org.apache.maven.plugins:*"
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "Development"
    schedule:
      interval: "weekly"
